<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="SqlTransport" connectionString="Data Source=CG-T-SQL-03V;Initial Catalog=CG_T_DB_MSGBRKR;Integrated Security=False;User ID=CG_T_USR_SYNKHINZE;Password=kehinzefeb;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
</connectionStrings>